@using AlexaUITech.Models
@model ApplicationDetail
@{
    ViewBag.Title = "RequestDetails";
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 6px 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }

    tr:nth-child(odd) {
        /*background-color: #f2f2f2;*/
    }
</style>

<link href="~/Content/Main.css" rel="stylesheet" />

@using (Html.BeginForm("RequestDetails", "Menu", FormMethod.Post))
{
    <br />
    <br />
    <div class="div1">
        <table>
            <div class="heading">
                <h4 style="padding-top: 3px;">Loan Details</h4>
            </div>
            <br />
            <br />
            <tr>
                <th>
                    @Html.LabelFor(m => m.RequestedAmount, "Requested Amount")
                </th>
                <th>
                    @Html.LabelFor(m => m.InterestRate, "InterestRate")
                </th>

                <th>
                    @Html.LabelFor(m => m.Tenure, "Tenure")
                </th>
                <th>
                    @Html.LabelFor(m => m.Product)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.RequestedAmount, new { @class = "FancyTextBox" })

                </td>
                <td>
                    @Html.TextBoxFor(m => m.InterestRate, new { @class = "FancyTextBox" })

                </td>
                <td>
                    @Html.TextBoxFor(m => m.Tenure, new { @class = "FancyTextBox" })

                </td>
                <td>
                    @Html.TextBoxFor(m => m.Product, new { @class = "FancyTextBox" })

                </td>
            </tr>


        </table>

        <p style="padding-right:70px" align="right">
            @*<input type="submit" id="btnEdit" value="Edit" class="FancyButton" />*@
            <input type="submit" id="btnUpdate" value="Update" name="Update" class="FancyButton" />

        </p>
        @Html.Raw(TempData["msg"])

        <br />
    </div>
}

